:root {
  background-color: var(--background-menu);
  scroll-behavior: smooth;
  /* text */
    --text-black-high: rgba(0, 0, 0, 0.87);
    --text-black-med: rgba(0, 0, 0, 0.6);
    --text-black-low: rgba(0, 0, 0, 0.38);
    --text-white-high: rgba(255, 255, 255, 0.87);
    --text-white-med: rgba(255, 255, 255, 0.6);
    --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
    --active: 0.87;
    --inactive: 0.7;
    --disabled: 0.38;
}

:root[theme="dark"] {
  /* brand colors */
    --color-primary: rgb(255, 245, 149); /* 200 tonal range */
    --color-primary-var: rgb(250, 231, 0); /* 500 tonal range */
  /* backgrounds */
    --background-base: rgb(18, 18, 18);
    --background-display-bar: rgb(61, 60, 50);
    --background-menu: rgb(39, 39, 39);
    --background-menu-hover: rgb(51, 51, 51);
    --background-modal: rgb(44, 44, 44);
    --background-delete-btn: rgb(54, 54, 54);
    --background-delete-hover: rgb(207, 102, 121);
    --background-inputs: rgb(56, 56, 56);
  /* elevation refs */
    --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
    --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
    --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
    --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
    --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
    --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
    --elevation-08dp: rgb(46, 46, 46); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
    --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
    --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
    --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* text */
    --primary-text: rgb(255, 255, 255, 0.87);
    --inverted-text:  rgb(0, 0, 0, 0.87); 
  /* borders */
    --border-primary: rgb(240, 240, 240);
    --input-border: rgb(160, 160, 160);
    --focus: 2px solid rgb(224, 224, 224);
    --task-separator: 2px solid rgb(39, 39, 39);
    --button-border: rgb(100, 100, 100);
  /* misc */
    --error: rgb(207, 102, 121);
    --warning: rgb(255, 245, 157);
    --success: rgb(165, 214, 167);
    --info: rgb(144, 202, 249);
    --theme-toggle-icon: url("/dist/assets/images/icons/wb_sunny-white-24dp.svg");
    --close-button: url("/dist/assets/images/icons/close-white-24dp.svg");
    --menu-button: url("/dist/assets/images/icons/menu-white-24dp.svg");
    --add-task-btn: url("/dist/assets/images/icons/add-white-24dp.svg");
}

:root[theme="light"] {
  /* brand colors */
    --color-primary: rgb(250, 231, 0); /* 500 tonal range */
    --color-primary-var: rgb(255, 192, 0); /* +/- 200 of primary */
  /* backgrounds */
    --background-base: rgb(240, 240, 240);
    --background-display-bar: rgb(241, 239, 215);
    --background-menu: rgb(240, 240, 240);
    --background-menu-hover: rgb(220, 220, 220);
    --background-modal: rgb(220, 220, 220);
    --background-delete-btn: rgb(220, 220, 220);
    --background-delete-hover: rgb(148, 0, 27);
    --background-inputs: rgb(240, 240, 240);
  /* text */
    --primary-text: rgb(0, 0, 0, 0.87);
    --inverted-text:  rgb(255, 255, 255, 0.87);
  /* borders */
    --border-primary: rgb(18, 18, 18);
    --input-border: rgb(60, 60, 60);
    --focus: 2px solid rgb(30, 30, 30);
    --task-separator: 2px solid rgb(200, 200, 200);
    --button-border: 1px solid rgb(150, 150, 150);
  /* misc */
    --error: rgb(176, 0, 32);
    --warning: rgb(255, 235, 59);
    --success: rgb(76, 175, 80);
    --info: rgb(33, 150, 243);
    --theme-toggle-icon: url("/dist/assets/images/icons/wb_sunny-black-24dp.svg");
    --close-button: url("/dist/assets/images/icons/close-black-24dp.svg");
    --menu-button: url("/dist/assets/images/icons/menu-black-24dp.svg");
    --add-task-btn: url("/dist/assets/images/icons/add-black-24dp.svg");
}

* {
  font-family: "Ubuntu", Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background-base);
  letter-spacing: 1px;
}

button:hover,
li:hover,
span[role="checkbox"]:hover,
span[role="button"]:hover,
div[role="switch"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.focusable:focus {
  outline: var(--focus);
  outline-offset: 2px;
}

.blur {
  filter: blur(5px);
}


/* ========== MODALS ========== */
.modal-container {
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.568);
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 30px 15px;
  background-color: var(--background-modal);
  color: var(--primary-text);
  box-shadow: 0 0 10px 2px black;
  font-size: 1.1rem;
  line-height: 1.25;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-box h1 {
  align-self: flex-start;
  font-size: 1.5rem;
}

.modal-box button,
.modal-box input[type="submit"] {
  padding: 10px;
  opacity: 0.8;
  font-weight: bolder;
  transition: padding 0.3s;
}

.modal-box button:hover,
.modal-box button:focus,
.modal-box input[type="submit"]:hover,
.modal-box input[type="submit"]:focus {
  opacity: 1;
}

.modal-box .primary-btn {
  margin: 15px 0 20px;
  background-color: var(--color-primary);
  color: var(--text-black-high);
  border: 2px outset black;
  border-radius: 10px;
}

.modal-box .secondary-btn {
  background-color: transparent;
  color: var(--primary-text);
  border: none;
}

.modal-box fieldset {
  border-color: var(--border-primary);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.modal-box legend {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-box label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-box #name-input {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.modal-box #name-input,
.modal-box #date-select,
.modal-box select {
  height: 2.5rem;
  margin-bottom: 30px;
  background-color: var(--background-inputs);
  color: var(--primary-text);
}

.modal-box select,
.modal-box input[type="date"] {
  min-width: 150px;
}

.modal-box textarea {
  width: 100%;
  height: 75px;
  padding: 5px;
  background-color: var(--background-inputs);
  color: var(--primary-text);
  resize: vertical;
}

.modal-box input,
.modal-box select,
.modal-box textarea {
  border: 1px solid var(--input-border);
}

.modal-box div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.modal-box .submit {
  margin: 20px 5px 0;
}

.modal-box .delete-group-btn,

.modal-box .delete-completed-btn {
  margin: 20px 10px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: var(--close-button) no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  opacity: 0.75;
}

.close-btn:hover,
.close-btn:focus {
  opacity: 1;
}


/* ========== ACCESSIBILITY ========== */
#accessibility-container {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: -8.25rem;
  background-color: var(--background-display-bar);
  color: var(--primary-text);
}

#accessibility-container:focus-within,
#accessibility-container:hover {
  top: 0;
}

#accessibility-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 8.25rem;
  padding: 2px 10px;
  /* background-color: var(--background-base); */
}

#accessibility-contents > * {
  margin: 10px 5px;
}

#skip-link {
  color: var(--primary-text);
  font-size: 1.1rem;
  text-decoration: none;
}

#skip-link:hover {
  text-decoration: underline;
}

#theme-switch {
  width: 2rem;
  height: 2.75rem;
  border-radius: 10px;
  background: var(--theme-toggle-icon) no-repeat;
  background-size: contain;
  background-color: var(--background-base);
  border: 0.15rem solid var(--border-primary);
  opacity: 0.8;
}

#animation-switch {
  width: 7.5rem;
  height: 2.75rem;
  border-radius: 25px;
  background-color: var(--background-base);
  border: 0.15rem solid var(--border-primary);
  opacity: 0.8;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

#accessibility-label {
  z-index: 2;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 10px;
  background-color: var(--background-display-bar);
  font-size: 0.9rem;
  font-weight: bold;
}

#accessibility-label:hover {
  cursor: default;
}

.label-arrow-container {
  display: inline-block;
  margin: 5px 0 0 0.8rem;
}

.label-arrow {
  display: inline-block;
  width: 0.7rem;
  height: 0.2rem;
  background-color: var(--primary-text);
  margin: 6px -0.3rem;
}

.label-arrow-left {
  transform: rotate(45deg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.label-arrow-right {
  transform: rotate(-45deg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#accessibility-container:focus-within .label-arrow-left,
#accessibility-container:hover .label-arrow-left {
  transform: rotate(-45deg);
}

#accessibility-container:focus-within .label-arrow-right,
#accessibility-container:hover .label-arrow-right {
  transform: rotate(45deg);
}


/* ========== MAIN NAV ========== */
.sign-in-btn {
  position: absolute;
  left: 10px;
  top: 3rem;
  width: 190px;
  height: 45px;
  padding-left: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  font-size: 1.1rem;
}

.menu-button {
  position: absolute;
  top: 3rem;
  left: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  background: var(--menu-button) no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  opacity: 0.75;
}

.menu-button:hover {
  opacity: 1;
}

.add-task-btn {
  position: absolute;
  /* top: 7rem; */
  top: 3rem;
  left: 10px;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: var(--color-primary-var);
  border: none;
  box-shadow: 0 0 2px black;
  font-size: 1.25rem;
  text-align: right;
  font-weight: bold;
  opacity: 0.9;
}

.add-task-btn:hover, 
.add-task-btn:focus {
  opacity: 1;
}

.add-task-btn span {
  font-weight: bold;
  vertical-align: middle;
}

#main-nav {
  z-index: 1;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -800px;
  width: 100%;
  height: 100vh;
  margin-top: 2rem;
  background-color: var(--background-menu);
  color: var(--primary-text);
  overflow-x: hidden;
  overflow-y: auto;
  transition: left 0.5s;
}

.groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.group-item,
.add-group-btn {
  width: 95%;
  margin: 5px 0;
  padding: 10px;
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
}

.groups-container li:hover,
.groups-container li:focus,
.add-group-btn:hover,
.add-group-btn:focus,
.active {
  background-color: var(--background-menu-hover);
}

.default-groups-container {
  /* margin: 10rem 0 30px; */
  margin: 7rem 0 30px;
}

.custom-groups-container {
  padding-bottom: 1.5rem;
}

.add-group-btn {
  padding: 10px;
  font-size: 1.3rem;
}

.add-group-btn .material-icons {
  vertical-align: middle;
}


/* ========== MAIN CONTENT ========== */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 7rem;
  color: var(--primary-text);
}

.main-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: start;
  width: 90%;
  max-width: 500px;
  margin: 25px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-primary);
}

.task-container {
  width: 95%;
  max-width: 500px;
  height: 95%;
  margin-bottom: 10px;
  padding: 0 5px 15px;
}

.group-option-btn {
  margin-top: 5px;
  padding: 0;
  background-color: transparent;
  color: var(--primary-text);
  opacity: 0.8;
  border: none;
  font-size: 30px;
}

.group-option-btn:hover,
.group-option-btn:focus {
  opacity: 1;
}

.task-item {
  display: grid;
  grid-template-columns: max-content 1.25rem 1fr max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas: 
    "priority status name date"
    "details details details details";
  gap: 0 10px;
  justify-items: start;
  align-items: start;
  width: 100%;
  padding: 20px 10px;
  color: var(--primary-text);
}

.task-item:not(:last-child) {
  border-bottom: var(--task-separator);
}

.task-priority {
  width: 1.4rem;
  height: 1.4rem;
  margin: -2px 0 0 -10px;
  font-size: 18px;
  text-align: center;
  grid-area: priority;
}

.task-status {
  grid-area: status;
  position:relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
  background-color: white;
  border: 1px solid black;
}

.task-name {
  grid-area: name;
  margin-left: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  font-size: 1.05rem;
  font-weight: bold;
}

.task-name:hover {
  cursor: pointer;
}

.task-date {
  grid-area: date;
}

.task-details {
  visibility: hidden;
  flex-wrap: wrap;
  grid-area: details;
  padding: 0 0 10px 10px;
  height: 0;
  overflow: hidden;
}

.expanded {
  visibility: visible;
  height: max-content;
}

.task-details p {
  width: 100%;
  margin-bottom: 50px;
  font-size: 0.95rem;
  font-style: italic;
  line-height: 1.5;
}

.task-details .edit-btn {
  margin-right: 15px;
}

.edit-btn,
.delete-btn {
  padding: 8px 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.edit-btn {
  background-color: transparent;
  color: var(--primary-text);
  border: none;
  opacity: 0.8;
}

.edit-btn:hover,
.edit-btn:focus {
  opacity: 1;
}

.delete-btn,
.delete-btn:disabled:hover {
  background-color: var(--background-delete-btn);
  color: var(--primary-text);
  border: var(--button-border);
  border-radius: 5px;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: var(--background-delete-hover);
  color: var(--inverted-text);
}

/* ========== LOWER NAV ========== */
#lower-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  bottom: 0;
  left: 0;
  background: var(--background-menu);
}

#lower-nav a {
  width: max-content;
  padding: 2px;
  color: var(--primary-text);
  text-decoration: none;
}

#lower-nav .back-to-top {
  margin-bottom: 15px;
}

#lower-nav .back-to-top:hover {
  text-decoration: underline;
}

#lower-nav .github-link {
  opacity: 0.7;
}

#lower-nav .github-link:hover,
#lower-nav .github-link:focus {
  opacity: 1;
}

/* ========== MEDIA QUERIES ========== */
@media only screen and (min-width: 430px) {
  .modal-box button,
  .modal-box .submit {
    padding: 10px 20px;
    opacity: 0.8;
  }

  .modal-box .submit {
    margin: 20px 15px 0;
  }

  #accessibility-contents {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 764px) {
  :root {
    background-color: var(--background-base);
  }

  .modal-box {
    max-width: 500px;
    height: initial;
    max-height: 90vh;
    border-radius: 15px;
  }

  #accessibility-container {
    top: -3.75rem;
  }

  #accessibility-contents {
    justify-content: flex-start;
    height: 3.75rem;
  }

  #accessibility-contents > * {
    margin-right: 25px;
  }

  .menu-button,
  .menu-close-button {
    display: none;
  }

  .add-task-btn {
    z-index: 1;
    position: fixed;
  }

  #main-nav {
    z-index: 0;
    position: fixed;
    width: 300px;
    height: calc(100vh - 97px);
    margin-top: 0;
  }

  #main-content {
    margin: 2.1rem 0 0 300px;
  }


  #lower-nav {
    position: fixed;
    width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  /* .task-container {
    width: 50%;
  } */
}

@media only screen and (min-width: 1200px) {
  #main-content {
    align-items: flex-start;
    margin: 2.1rem 0 0 325px;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: unset !important;
  }

  .animated {
    transition: none !important;
  }
}